/*
  Mitch x Luca Benedetti
  https://linktr.ee/lucaunliked
*/

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

body {
    margin: 3em;
}

h1 {
    font-size: 8em;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
}

small {
    font-size: 1.125em;
    font-weight: 200;
}

aside {
    position: absolute;
    top: 2.5em;
    right: 2.5em;
}

article {
    font-size: 2.125em;
    font-weight: bold;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

section {
    margin-top: 4em;
}

.images-slider {
    width: calc(100% + 6em);
    max-width: calc(100% + 6em);
    height: 450px;
    margin: 8em 0 2em -3em;
    overflow-x: hidden;
}

.images-slider-int {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 450px;
}

.images-slider-int > img {
    margin-right: 0.375em;
}

.slider-arrows {
    position: absolute;
    width: 100%;
    margin-top: -23.5em;
    margin-left: -3em;
}

.image-slider-arrow {
    position: absolute;
    top: 2.5em;
    font-size: 3em;
    font-weight: bold;
    color: #ffc000;
    cursor: pointer;
    user-select: none;
}

.image-slider-arrow.left {
    left: 0.5em;
}

.image-slider-arrow.right {
    right: 0.5em;
}

@keyframes phrase {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }