/*
  Mitch x Luca Benedetti
  https://linktr.ee/lucaunliked
*/

/* Defaults */
html {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  cursor: url(../imgs/cursor.png) 14 14, auto;
  opacity: 0;
  transition: opacity 0.15s linear;
}

body {
  margin: 4em 4em 0 4em;
}

a {
  color: inherit;
  text-decoration: none;
}

a.a-button {
  background-color: #ffc000;
  border: none;
  color: white;
  font-size: 1.5em;
  padding: 1em 4em;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

a.a-button:hover {
  background-color: black;
}

h1 {
  font-size: 8em;
  font-weight: 900;
  line-height: 1em;
  margin: 0 0 0 -0.06em;
}

h2 {
  width: auto;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
}

small {
  font-size: 1.125em;
  font-weight: 100;
}

h6 {
  font-size: 0.8em;
  font-weight: 100;
  color: #4b4b43;
  margin: 0;
}

aside {
  position: absolute;
  top: 4em;
  right: 4em;
}

aside > h6 > a {
  transition: color 0.15s linear;
}

aside > h6 > a:hover {
  color: #ffc000;
}

article {
  font-size: 2.45em;
  font-weight: bold;
  line-height: 1.15em;
  margin-bottom: 0.5em;
  opacity: 0;
}

article > span {
  transition: opacity 0.15s linear;
}

section {
  margin-top: 4em;
}

button {
  background-color: #ffc000;
  border: none;
  color: white;
  font-size: 1.5em;
  padding: 1em 4em;
  cursor: pointer;
  transition: background-color 0.15s linear;
}

button:hover {
  background-color: black;
}

footer {
  width: 100%;
  margin-left: -4em;
  margin-top: 1em;
  padding: 1em 4em;
  background-color: #ffc000;
}

footer > h6 {
  color: white;
}

footer > h6 > a {
  transition: color 0.15s linear;
}

footer > h6 > span > a:hover {
  color: black;
}

/* classes */
h1 > span.color-red {
  color: red;
}

.images-slider {
  width: calc(100% + 8em);
  max-width: calc(100% + 8em);
  height: 450px;
  margin: 8em 0 0 -4em;
  overflow-x: hidden;
  overflow-y: hidden;
}

.images-slider-int {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 450px;
}

.images-slider-int > img {
  margin-right: 0.375em;
}

.slider-arrows {
  position: absolute;
  width: 100%;
  margin-top: -23.5em;
  margin-left: -4em;
}

.image-slider-arrow {
  position: absolute;
  top: 3em;
  font-size: 3em;
  font-weight: bold;
  color: #ffc000;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.image-slider-arrow.left {
  left: 0.5em;
}

.image-slider-arrow.right {
  right: 0.5em;
}

.phrase-slider {
  width: calc(100% + 8em);
  max-width: calc(100% + 8em);
  margin-left: -4em;
  margin-top: 10em;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.phrase-slider > span {
  font-size: 5em;
  font-weight: 900;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: phrase 10s linear infinite;
  white-space: nowrap;
}

.phrase-slider > span > span.black {
  color: black;
  text-shadow: none;
}

.central-button {
  width: 100%;
  display: flex;
  place-content: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-top: 10em;
}

.links-left-section {
  display: flex;
  flex-direction: column;
}

.links-left-section > h2 {
  cursor: pointer;
  transition: color 0.15s linear;
}

.links-left-section > h2:hover {
  color: #ffc000;
}

.links-right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0.8em;
}

.links-right-section > .square-logo {
  width: 125px;
  margin-bottom: 1.5em;
}

.links-right-section > h6 {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.links-right-section > h6 > a {
  cursor: pointer;
  transition: color 0.15s linear;
}

.links-right-section > h6 > a:hover {
  color: #ffc000;
}

.pre-footer {
  margin-top: 3em;
}

.pre-footer > .thanks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.pre-footer > .thanks > .arrow-logo {
  width: 60px;
  transition: filter 0.15s linear;
  animation: arrow-pump 2s linear infinite;
}

.pre-footer > .thanks > .arrow-logo:hover {
  filter: invert(73%) sepia(97%) saturate(2104%) hue-rotate(0deg) brightness(107%) contrast(103%);
}

.thanks-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  opacity: 0;
  transition: opacity 0.15s linear;
}

.thanks-text > h6 {
  margin-top: 0.25em;
}

.thanks-text > h6.normal-weight {
  color: black;
  font-weight: 400;
}

.thanks-text .no-wrap-text {
  white-space: nowrap;
}

#gallery-block {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #2a2a2acc;
  display: none;
  place-content: center;
  align-items: center;
}

#gallery-block.visible {
  display: flex;
}

#gallery-block > img {
  max-width: 80vw;
  max-height: 90vh;
}

#gallery-block > div.icon-only {
  position: absolute;
  color: #ffc000;
  font-size: 2em;
  cursor: pointer;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

#gallery-block > div.icon-only#close-gallery {
  top: 1.5em;
  right: 1.5em;
}

#gallery-block > div.icon-only#gallery-left {
  font-size: 5em;
  left: 0.5em;
}

#gallery-block > div.icon-only#gallery-right {
  font-size: 5em;
  right: 0.5em;
}

/* Animations */
@keyframes phrase {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes arrow-pump {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(10%, 10%);
  }
  20% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Responsivness */
@media (hover: none) {
  .images-slider {
    overflow-x: auto;
  }

  .slider-arrows {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 16px;
  }

  h6 {
    font-size: 1.5em;
  }

  small {
    font-size: 1.5em;
  }

  .slider-arrows {
    margin-top: -18.5em;
  }

  .images-slider,
  .images-slider-int {
    height: 250px;
  }

  .social-links {
    flex-direction: column;
  }

  .links-left-section,
  .links-right-section {
    align-items: center;
  }

  .links-right-section {
    margin-top: 4em;
    flex-direction: column-reverse;
  }

  .links-right-section > .square-logo {
    width: 5em;
    margin-bottom: 0;
    margin-top: 4em;
  }

  .pre-footer {
    margin-top: 0;
  }

  .pre-footer > .thanks {
    place-content: center;
  }

  .arrow-logo {
    display: none;
  }

  .thanks {
    margin-left: -4em;
    width: calc(100% + 8em);
  }

  .thanks-text {
    opacity: 1;
    align-items: center;
    text-align: center;
    font-size: 0.5em;
  }

  .thanks-text > h6 {
    display: flex;
    flex-direction: column;
  }

  .thanks-text > h6 > .space-to-remove {
    display: none;
  }

  footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  footer > h6 {
    font-weight: 400;
    font-size: 1em;
    display: flex;
    flex-direction: column;
  }

  footer > h6 > .space-to-remove {
    display: none;
  }
}

@media screen and (max-width: 825px) {
  html {
    font-size: 14px;
  }

  .slider-arrows {
    margin-top: -19.5em;
  }

  #gallery-block > div.icon-only#gallery-left {
    font-size: 3em;
  }

  #gallery-block > div.icon-only#gallery-right {
    font-size: 3em;
  }

  #gallery-block > div.icon-only#close-gallery {
    top: 0.5em;
    right: 0.5em;
  }
}

@media screen and (max-width: 685px) {
  html {
    font-size: 12px;
  }

  .slider-arrows {
    margin-top: -21em;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 10px;
  }

  .slider-arrows {
    margin-top: -23.5em;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }

  .slider-arrows {
    margin-top: -26.5em;
  }
}

@media screen and (max-width: 325px) {
  html {
    font-size: 7px;
  }

  .slider-arrows {
    margin-top: -28em;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 6px;
  }

  .slider-arrows {
    margin-top: -31em;
  }
}
